
div a {
	text-decoration: none;
}

div a:hover {
	color: red;
}

div a:visited {
	color: black;
}

#navBar {
	margin: auto;
	width: 80%;
}

.navBarTab {
	float: left;
	text-align: center;
	width: 25%;
}

p {
	clear: both;
}
