#about, #bodyContainerAbout {
	background-color: #f7786b;
}

#navBarAbout {
	width: 100%;
}

#about a:hover {
	color: white;
}

body {
	font-family: "Verdana", "Geneva", sans-serif;
	margin: 0;
	padding: 0;
}

.bodyContainer, #languageList {
    height: auto !important;
    height: 600px;
    min-height: 600px;
	padding-bottom: 50px;
	padding-top: 50px;
}

.bodyContent {
	background-color: white;
	margin: 40px;
	padding: 20px;
}

#contact, #bodyContainerContact {
	background-color: #92a8d1;
}

#contact a:hover {
	color: white;
}

div a {
	color: black;
	text-decoration: none;
}

div a:hover {
	color: red;
	font-weight: bold;
}

div a:visited {
	color: black;
}

h1 {
	clear: both;
}

#illustration, #bodyContainerIllustration {
	background-color: #ffcc5c;
}

#illustration a:hover {
	color: white;
}

#languageList {
	background-color: #e0e2e4;
	float: right;
 	height: 100px;  
 	width: 20%;
}

#leftColumn {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 80%;
}

.navBar {
	margin-right: 0;
	padding: 0;
}

.navBarTab {
	float: left;
	font-weight: bold;
	letter-spacing: 2px;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
	width: 25%;
}

p {
	clear: both;
}

#translation, #bodyContainerTranslation {
	background-color: #87bdd8;
}

#translation a:hover {
	color: white;
}
